.card {
    display: flex;
    flex-wrap: wrap;
   }
   
   .card-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #d3d3d3, #ffd1dc);
    color: black
   }
   
   .card-item h3 {
    margin-top: 0;
   }
   
   .card-item p {
    margin-bottom: 0;
   }
   